	#header{
			height: 10%;
			width: 100%;
			top: 2%;
			background-color: black;
			position: fixed;
			color: white;
		}
		#left_side{

			height: 75%;
			width: 25%;
			top: 25%;
			bottom: 50%;
			left:50px;
			position: absolute;
			color:red;
		}
		#demo1{
			top: 25%;
			position: absolute;
			left: 35%;
		}
		#right_side{
			background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("student_logo.png");
			height: 75%;
			width: 65%;
			background-color: white;
			position: absolute;
			left: 17%;			
			top: 21%;
			color: black;
			border: solid 2px blue;
		}
		#top_span{
			top: 15%;
			width: 80%;
			left: 17%;
			position: fixed;
		}
		#td,#th{
			border: 2px solid black;
			padding-left: 2px;						
			text-align: left;
			width: 200px;
		}
		.test{
			border-collapse: separate;
			border-spacing: 10px;
		}
		#center{
			color: black;
		}
		#right_corner{
			height:75%
			width:10%;
			position:absolute;
			top:20%;
			right:7%
		}
